* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.padre {
  display: flex;
  flex-flow: column nowrap;
}

.margen-interno {
  padding: 0 50px;
}

.header {
  background: url(img/Fondo.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}
.header .menu {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.header .menu .logo {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .menu .logo a {
  font-size: 30px;
}
.header .menu .logo a:hover {
  color: gray;
}
.header .menu .nav {
  flex: 5 1 auto;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.header .menu .nav a {
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 20px;
  letter-spacing: 2px;
}
.header .menu .nav a:hover {
  color: gray;
}
.header .menu .social {
  flex: 1 1 auto;
  display: flex;
  gap: 20px;
  background-color: a;
  background-color-font-size: 18px;
  background-color-color: #fff;
  background-color-padding: 0 5px;
}
.header .texto-principal {
  height: 580px;
  display: flex;
  align-items: center;
}
.header .texto-principal h1 {
  font-family: "Lora", serif;
  font-size: 21px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  line-height: 1.6;
}

.section {
  background: #f7f7f7;
  display: flex;
}
.section .articulos {
  background: #f7f7f7;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;
}
.section .articulos .article {
  flex: 1 1 40%;
  color: #444;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 10px 10px 0 0px;
  flex: 1 1 45%;
  background: #ececec;
}
.section .articulos .article img {
  width: 100%;
}
.section .articulos .article a {
  color: #fff;
  font-size: 13px;
  padding: 10px;
  background: #321027;
  margin: 10px 0;
  display: inline-block;
}
.section .articulos .article a:hover {
  background: #545cc3;
}
.section .articulos .article h3 {
  color: #fff;
  font-size: 13px;
  padding: 10px 0;
  margin-top: -80px;
}
.section .articulos .article h2 {
  font-size: 25px;
  text-transform: uppercase;
  padding: 0px 0 10px 0;
  color: #fff;
}
.section .articulos .navegacion {
  background: #321027;
  flex: 1 1 100%;
}
.section .articulos .navegacion a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}
.section .aside {
  flex: 1 1 auto;
  margin: 10px 5px 10px 0;
}
.section .aside img {
  width: 100%;
}
.section .aside h4 {
  background: #321027;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}
.footer {
  background: #321027;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.footer .pie {
  text-align: center;
}
.footer .pie a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}

@media all and (max-width: 900px) {
  .header .menu {
    flex-direction: column;
    height: 200px;
  }
  .section {
    flex-direction: column;
  }
  .section .aside {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
@media all and (max-width: 650px) {
  .menu img {
    height: 30px;
  }
  .menu .nav {
    justify-content: space-between;
  }
  .menu .nav .off {
    display: none;
  }
  .section .articulos {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 400px) {
  .menu .nav {
    flex-wrap: wrap;
  }
  .section {
    flex-direction: column;
  }
  .section .aside {
    flex-direction: column;
  }
}/*# sourceMappingURL=estilos.css.map */